body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #D9D9D9;
    color: #D9D9D9;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;

}

header{
    background-color: #0D0D0D;
    max-width: 920px;
    margin: auto;

}
header h1{
    margin: 0;
    text-align: center;
    background-color: #0D0D0D;
    padding-right: 30px;
    margin-left: 200px;

}

#cinza{
    background-color: #404040;
    height: 90px;
    max-width: 920px;

}

#idioma {
    cursor: default;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

#idioma img {
    width: 50px;
    cursor: pointer;
    opacity: 0.9;
}

#idioma img:hover{
    opacity: 1.0;
}

#foto img{
    max-width: 180px;
    border-radius: 50%;
    border-style: solid;
    margin-left: 10px;
    margin-top: 5px;
 
 

}

#preto{
    
    max-width: 900px;
}



main{
    
    background-color: #0D0D0D;
    max-width: 900px;
    
    margin: auto;
    padding: 10px;
    padding-top: 150px;
}


#texto-sobre {
   
    
    text-align: justify;
    margin: 0;
    padding-right: 80px;

    
}

#texto-sobre p{
    display: inline-block;
}


#linguagens{
    text-align: center;
    margin-left: 190px;
    padding-top: 10px;
}
#linguagens img{
    width: 45px;
    padding-left: 8px;
    cursor: pointer;

}

#contatos{
    padding: 0;
}

#redes h2{
    margin-top: 70px;
}
#redes img{
    width: 40px;
}

#redes p {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    bottom: 10px;
    
}

#redes li{
    display: inline-block;
    font-size: 0.9em;
    height: 40px;
    padding: 5px;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 10px;
    
}

#whatsapp{
    background-color: #29A71A;
}

#whatsapp:hover{
    background-color: #28a71ad4;
    
}

#linkedin{
    background-color: #0077B5;
}

#linkedin:hover{
    background-color: #0076b5d4;
}



#instagram{
    background-image: linear-gradient(to top, #9A02D1 ,#D00095,#F5B00A 90%);
}

#instagram:hover{
    background-image: linear-gradient(to top, #9a02d1d4 ,#d00095d4,#f5af0ad4 90%);
}

#gmail{
    background-color: #D93636;
    padding-right:50px ;
}
#gmail p{
    padding-right:50px ;
}

#gmail:hover{
    background-color: #d93636d4;
}

#projetos{
    padding-bottom: 200px;
}

#projetos a {
    display: inline-block;
    background-color: #404040;
    padding: 10px;
    border-radius: 4px;
    border-style: solid;
    margin-bottom: 10px;
    font-size: 0.76em;
}

#projetos a:hover{
    background-color: #40404071;
}





footer{
    background-color: #0D0D0D;
    max-width: 920px;
    margin: auto;
    text-align: center;
    font-size: 0.8em;
}

footer p{
    margin: 0;
    padding-bottom: 8px;
}

h2{
    margin-top: 0;
}

#h2-projetos{
    margin-top: 70px;
    font-size: 1.5em;
}