@import url(small.css) (max-width:450px);
@import url(middle.css) (min-width:450px);
@import url(big.css) (min-width:753px);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;

    color: #D9D9D9;
    margin-top: 0;
    margin-bottom: 0;

}

a{
    color: #D9D9D9;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
